ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-content{

    --ion-background-color:#01030509;
}
body{
    text-align: center;
}
.ilkdiv{
    text-align: center;
}
.divhadi{
    text-align: center;
}

ion-button{
    --background: #062f77;
}
a{
    color: rgb(253, 70, 70);
}