<ion-content>
  <div class="container">
      <p>BİZE ULAŞIN</p>
      <label for="fname">Name</label>
      <input type="text" id="name" name="firstname" placeholder="İsminiz">
  
      <label for="lname">Gmail</label>
      <input type="text" id="mail" name="lastname" placeholder="Mail Adresiniz">

      <label for="subject">Konu</label>
      <textarea id="subject" name="subject" placeholder="Bize İletin" style="height:200px"></textarea>
  
      <button class="butongonder" type="button" (click)="gonder()">Gönder</button>
  
  </div>
</ion-content>
